.Header_obra{
    width: 100%;
    height: 70px;
    background: rgb(28,27,29);
    background: linear-gradient(90deg, rgba(28,27,29,1) 0%, rgba(36,36,40,1) 100%, rgba(205,212,213,1) 100%);
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: row;
    justify-content: space-between;
}


.Carrosel_Container{
    padding: 30px;
}
.Image_Obras:hover{
    cursor: pointer;
    transition: 1s;
    box-shadow:  6px 6px 8px 8px  #0000009f;
}
.Title_Header{
    color: #fff;
    margin: 25px;
    font-size: 22px;
    font-weight: 600;
}
.Link_Home{
    color: #fff;
    margin: 15px;
    width: 50px;
    height: 50px;
}
.Container_Carrosel{
    margin: 0 auto;

}
@media(max-width:500px){
    .Image_Obras{
        margin: 0 auto;
        position: relative;
        left: 25px;
    }
}
.Image_Obras{
    width: 600px;

}
.mySwiper{
    width: 100%;
    height: 100%;

}
.swiper-slide{
    text-align: center;
    font-size: 18px;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper_container{
    padding: 10px;
}