.Header_Obra{
    width: 100%;
    height: 70px;
    background: rgb(28,27,29);
    background: linear-gradient(90deg, rgba(28,27,29,1) 0%, rgba(36,36,40,1) 100%, rgba(205,212,213,1) 100%);

}

.Icon_Back{
    margin: 15px;
    width: 50px;
    height: 50px;
}
.Container_Obra{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
 
}
.Image img{
    padding: 15px;
    width: 600px;
    height: 450px;
}
.Container_Informations{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}
.Title_Obra{
  
    font-size: 36px;
    font-family: "Roboto", sans-serif;
}
.Subtitle_Obra{
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}
.Content_Obra{
    font-family: "Roboto", sans-serif;
}
@media(max-width: 750px){
    .Container_Obra{
        flex-wrap: wrap;
        justify-content: center;
    }
}
.Logo_Obra{
    padding: 9px;
    width: 73px;
    height: 65px;
}
.Link_Page_Obra{
    text-decoration: none;
    color: #000;
}